.picture {
  object-fit: contain;
  border: 10px solid #2847cf;
  border-radius: 50px;
}
.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: slateblue;
  text-decoration-line: none;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
